* { 
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
  }
.font{
    background: rgb(48, 45, 45);
}

h1 {
    margin-left: -1000px;
}
.tbc{
    background: rgba(3, 1, 1, 0.719);
    color: rgb(245, 245, 245);
}
.tbc2{
    background: rgba(3, 1, 1, 0.493);
    color: rgb(245, 245, 245);    
}
.tbc2 h2 {
    text-align: left;
    margin-left: 100px;
}
.picture {
    height: 700px;
}
.block1 {
    display: flex;
}
.info1 {
    color:rgb(245, 245, 245);
}
.info1 {
    margin-left: 10%;
    margin-top: 5%;
}
.txt {
    margin-top: 15%;
}

.block2 {
    width: 100%;
    height: 800px;
}

.block2 .picture2 {
height: 800px;
float: right;
}
.info2 {
    color:rgb(245, 245, 245);
    margin-left: 10%;
    padding-top: 15%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
}
.picture3 {
    height: 700px;
}
.picture4 {
    height: 700px;
    width: 1000px;
}
.picture5 {
    height: 600px;
}
.info3 {
    color:rgb(245, 245, 245);
    margin-left: 10%;
    margin-top: 10%;
    font-size: 150%;
}
.block3 {
    display: flex;
}
.picture7 {
    height: 700px;
    width: 900px;
}
.block4 {
    width: 100%;   
}
.photo5 {
    text-align: center;
}